.header {
    background-color: rgba(243, 22, 22, 1);
    color: rgb(1, 1, 1);
    padding: 20px;
    text-align: center;
    font-size: 70px;
    font-family: "Roboto", sans-serif;
    border-radius: 30px;
}
.body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-container {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: space-between;
}
.box {
    width: 40%;
    height:40%;
    background-color: #78A477;
    padding-top: 1px;
    padding-bottom: 7px;
    padding-left: 15px;
    border-radius: 30px;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;

}

.text-box {
    background-color: rgba(255,234,234,1);
    font-size: 30px;
    border-radius: 40px;
    margin-right: 20px;
    margin-top: 10px;
    width: 40%;
    text-align: center;
    align-self: center;

    /* overflow: hidden; */
}

.photo1 {
    width: 20%;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 15px;
    /* overflow: hidden; */
}

.box2 {
    width: 100%auto;
    color: rgb(0, 0, 0);
    background-color: rgba(197,96,2,1);
    height: auto;
    margin-top: 50px;
    margin-left: 250px;
    margin-bottom: 100px;
    margin-right: 50px;
    padding-bottom: 100px;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}