@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");


.green-title {
    color:#73984E;
    text-align: center;
    font-family:"Roboto Slab", serif; ;
    font-size: 3.2rem;
}

.Ad-title {
    color: #ffffff; 
    font-size: 2.5rem;
    text-align: center; 
    font-family: "Roboto Slab", serif;
    margin-top: 10px; 
    margin-bottom: 10px; 
}


.green-subtitle {
    color:#73984E;
    text-align: center;
    font-family:"Roboto Slab", serif; ;
    font-size: 2rem;
}

.Item_name {
    color:#ffffff;
    text-align: left;
    font-family:"Roboto Slab", serif; ;
    font-size: 130%;
}


.Milk {
    color:#ffffff;
    text-align: left;
    font-family:"Roboto Slab", serif; ;
    font-size: 100%;
}



.Header_Box {
    width: 1370px;
    height:auto;
    background-color: #78A477;
    padding-top: 1px;
    padding-bottom: 7px;
    padding-left: 15px;
    border-radius: 30px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}

.item_box_1 {
    width: 20%;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 15px;
    overflow: hidden;

}


.Header_TextBox {
    background-color: #5C7E5B;
    width: 300px;
    height: 20%;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 3%;
    border-radius: 30px;
}

.logo {
    width: 15%;
    height: auto; 
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 5%;
    margin-top: 25px;
    margin-bottom: 10px;
    overflow: hidden;

}
.logo img {
    width: 100%;
    display: block;
}

.side-box {

    width: 30%;
    height:auto;
    background-color: #78A477;
    padding-top: 1px;
    padding-bottom: 7px;
    padding-left: 5px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.right-side {
    width: 30%;
    height:auto;
    background-color: #78A477;
    padding-top: 1px;
    padding-bottom: 7px;
    padding-left: 5px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item_box_2 {
    width: 55%;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 15px;
    overflow: hidden;

}

.price-box {
    background-color: #5C7E5B;
    width: 35%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 3%;
    border-radius: 15px;
}

.main-content {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1370px;
}

.middle-content {
    width: 60%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    height:350px
}


.footer-box {
    width: 90%; 
    height: 180px; 
    background-color: #78A477;
    border-radius: 30px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.footer-box-img {
    width: 30%;
    height: auto;
    margin-right: 10px;

}
.footer-box-price{
    width: 30%;
    height: 20%;
    margin-right: 10px;
    background-color: #5C7E5B;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 100%;
    font-family:"Roboto Slab", serif; ;

}


.middle-box {
    width: 40%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 10px;
    overflow: hidden;
    grid-template-rows: auto auto;
}